.icon {
    margin-bottom: 4px;
    margin-left: 7px;
    filter: invert(100%) sepia(3%) saturate(91%) hue-rotate(11deg) brightness(116%) contrast(100%);
}

.overlay {
    padding: 20px;
    background-color: var(--overlay-background-color);
    border-radius: 10px;
}

.quarter-width {
    width: 25%;
    min-width: 300px;
}
