#loginContainer {
    margin-top: 20vh;
}

#registrationContainer {
    margin-top: 10vh;
}

#loginContainer, #registrationContainer {
    width: 25%;
    min-width: 300px;
}

#notRegistered, #alreadyRegistered {
    text-align: left !important;
    font-style: italic;
    margin-top: 5px;
}

#wrongCredentials {
    margin-top: 7px;
    margin-bottom: 0;
    font-weight: bold;
    color: rgb(170, 0, 90);
}