body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(60deg, rgba(0,64,181,0.5) 0%, rgba(48,222,255,0.5) 50%, rgba(255,158,31,0.5) 100%);
}

#loginContainer {
    margin-top: 20vh;
    padding: 20px;
    background-color: aqua;
    background-color: rgba(20, 20, 20, 0.25);
    border-radius: 10px;
}

#notRegistered {
    text-align: left !important;
    font-style: italic;
    margin-top: 5px;
}