@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

:root {
    --overlay-background-color: rgba(20, 20, 20, 0.25);
    --dialog-background-color: rgb(49, 49, 49);

    --text-color: white;

    --primary: black;
    --secondary: gray;
}

body {
    background: linear-gradient(60deg, rgb(63, 92, 146) 0%, rgb(126, 234, 255) 50%, rgb(253, 196, 120) 100%);
    background-attachment: fixed;
    overflow-x: hidden;
}

/* navbar */
.navbar {
    background-color: black !important;
}

.navbar a {
    color: var(--text-color) !important;
}

.navbar-toggler {
    filter: invert(100%) sepia(3%) saturate(91%) hue-rotate(11deg) brightness(116%) contrast(100%);
    border: none;
}

.dropdown-menu {
    background-color: #111111;
}

.dropdown-item:hover, .dropdown-item:focus {
    background-color: #111111;
}

/* button & input-text */
.btn, .input-text {
    color: var(--text-color) !important;
}

.btn-primary:hover, .btn-primary:active, .input-text:focus {
    box-shadow: 3px 3px 9px 3px rgba(0,0,0,0.5) !important;
}

/* button */
.btn {
    box-shadow: none !important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus {
    background-color: var(--secondary);
    border-color: var(--secondary);
}

.btn-secondary:hover, .btn-secondary:active {
    box-shadow: 3px 3px 9px 3px rgba(128, 128, 128, 0.5) !important;
}

/* input-text */
.input-text {
    background-color: #111;
    border-color: #111;
}

.input-text:focus {
    background-color: #111;
    border-color: #111;
}

/* a */
a {
    color: black;
    text-decoration: none;
}

a:hover {
    color:black;
    text-decoration: underline;
}

/*                */
/* EIGENE KLASSEN */
/*                */

.icon {
    margin-bottom: 4px;
    margin-left: 7px;
    filter: invert(100%) sepia(3%) saturate(91%) hue-rotate(11deg) brightness(116%) contrast(100%);
}

.overlay, .dialog-overlay {
    padding: 20px;
    border-radius: 10px;
}

.overlay {
    background-color: var(--overlay-background-color);
}

/* dialog */

.dialog {
    background-color: var(--dialog-background-color);
    color: var(--text-color);
}

.dialog .modal-header,.dialog .modal-footer {
    border: none;
}

.quarter-width {
    width: 25%;
    min-width: 300px;
}