@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

/* navbar */
.navbar {
    background-color: black !important;
}

.navbar a {
    color: white !important;
}

.navbar-toggler {
    filter: invert(100%) sepia(3%) saturate(91%) hue-rotate(11deg) brightness(116%) contrast(100%);
    border: none;
}

.dropdown-menu {
    background-color: #111111;
}

/* button & input-text */
.btn-primary, .input-text {
    color: white !important;
}

.btn-primary:hover, .btn-primary:active, .input-text:focus {
    box-shadow: 3px 3px 9px 3px rgba(0,0,0,0.5);
}

/* button */
.btn-primary, .btn-primary:hover, .btn-primary:active {
    background-color: black;
    border-color: black;
}

/* input-text */
.input-text {
    background-color: #111;
    border-color: #111;
}

.input-text:focus {
    background-color: #111;
    border-color: #111;
}

/* a */
a {
    color: black;
    text-decoration: none;
}

a:hover {
    color:black;
    text-decoration: underline;
}

/* :root {
    --background-color: #111111;
    --overlay-color: #222222;
    --font-color: #eeeeee;

    --navy-blue: #003B73;
    --royal-blue: #0074B7;
    --blue-grotto: #60A3D9;
}


body {
    background-color: var(--background-color);

    font-family: 'Nanum Gothic', sans-serif;
    color: var(--font-color);
    font-size: 20px;
}

h1 {
    font-weight: 800;
}

input, select {
    background-color: var(--overlay-color);
    
    color: var(--font-color);
    font-size: 20px;

    border: 2px solid var(--blue-grotto);
    border-radius: 10px;

    outline: none;

    padding: 10px;
}

input:hover, input:focus, select:hover, select:focus {
    border-color: var(--royal-blue);
}

select {
    width: 100%;
}

a {
    color: var(--font-color);
    font-size: 24px;
}


.center-text {
    text-align: center;
}

.center {
    margin: 0 auto;
}

.button {
    border: none;
    background: linear-gradient(45deg, var(--blue-grotto), var(--royal-blue));
}

.button:hover {
    background: linear-gradient(45deg, var(--royal-blue), var(--navy-blue));
}


#guestRegistrationTable {
    text-align: left;
    border-spacing: 15px;
}

#submitButton {
    margin-top: 50px;
}


#footer {
    position: fixed;
    left: 0;
    bottom: 0;

    width: 100%;

    background-color: var(--overlay-color);

    border-top: 2px solid var(--blue-grotto);

    display: inline-flex;
    justify-content: space-around;
}

#footer > a {
    margin: 15px;
}


::placeholder { 
    color: var(--navy-blue);
    opacity: 1; /* Firefox */
}


:-ms-input-placeholder { 
    color: var(--navy-blue);
}
h1 ~ h2 {color: rgb(72, 212, 147); } */