@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

:root {
    --overlay-background-color: rgba(20, 20, 20, 0.25);
}

body {
    background: linear-gradient(60deg, rgb(63, 92, 146) 0%, rgb(126, 234, 255) 50%, rgb(253, 196, 120) 100%);
    background-attachment: fixed;
    overflow-x: hidden;
}

/* navbar */
.navbar {
    background-color: black !important;
}

.navbar a {
    color: white !important;
}

.navbar-toggler {
    filter: invert(100%) sepia(3%) saturate(91%) hue-rotate(11deg) brightness(116%) contrast(100%);
    border: none;
}

.dropdown-menu {
    background-color: #111111;
}

.dropdown-item:hover, .dropdown-item:focus {
    background-color: #111111;
}

/* button & input-text */
.btn-primary, .input-text {
    color: white !important;
}

.btn-primary:hover, .btn-primary:active, .input-text:focus {
    box-shadow: 3px 3px 9px 3px rgba(0,0,0,0.5) !important;
}

/* button */
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: black;
    border-color: black;
    box-shadow: none;
}

/* input-text */
.input-text {
    background-color: #111;
    border-color: #111;
}

.input-text:focus {
    background-color: #111;
    border-color: #111;
}

/* a */
a {
    color: black;
    text-decoration: none;
}

a:hover {
    color:black;
    text-decoration: underline;
}